/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador. 
*/

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* Para que el scrolleo en la one page sea suave */
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.2;
	background-color: #fbfbfb;
	color: #0f0f0f;
}

@media (max-width: 768px) {
	body.mobile-menu-active {
		overflow: hidden;
	}

	body.mobile-menu-active img#close-menu {
		display: block;
	}

	body.mobile-menu-active img#open-menu {
		display: none;
	}

	body.mobile-menu-active header {
		height: 100vh;
		flex-wrap: wrap;
		align-items: flex-start;
		transition: height 0.3s;
	}

	body.mobile-menu-active nav {
		display: block;
		width: 100%;
		height: 50%;
	}

	body.mobile-menu-active ul#menu {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
	}
}

nav {
	display: none;
}

@media (min-width: 768px) {
	nav {
		display: initial;
	}
}

/* Para quitar los puntos a los items de listas */
ul {
	list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
	text-decoration: none;
	color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
	max-width: 1200px;
	margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

#menu-button {
	background: transparent;
	border: 0;
	outline: 0;
	width: 40px;
	height: 40px;
}

@media (min-width: 768px) {
	#menu-button {
		display: none;
	}
}

img#close-menu {
	display: none;
}

.kalam-font{
	font-family: 'Kalam', 'Lato', sans-serif;
}

h1 {
	font-size: 40px;
	text-align: center;
}

@media (min-width: 768px) {
	h1 {
		font-size: 48px;
		text-align: left;
	}
}

h2 {
	font-size: 32px;
}

p {
	margin: 20px 0;
	line-height: 1.2;
	font-size: 18px;
	text-align: center;
}

@media (min-width: 768px) {
	p {
		text-align: left;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	height: 90px;
	width: 100%;
	background-color: #fbfbfb;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 3px 5px;
}

strong {
	color: rgba(173, 12, 12, 0.9);
}

ul#menu {
	display: flex;
	font-size: 20px;
}

li.menu-item a {
	padding: 16px;
	display: inline-block;
}

li.menu-item:hover {
	background: rgba(238, 83, 83, 0.3);
	transition: background-color 0, 3s;
}

/* main */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
	padding-top: 120px;
}

@media (min-width: 768px) {
	section {
		flex-direction: row;
		min-height: 100vh;
		/* Lugar para el header */
		padding-top: 90px;
	}
}

article {
	width: 75%;
}

@media (min-width: 768px) {
	article {
		width: 50%;
	}
}

#foto {
	width: 300px;
	border-radius: 50%;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	#foto {
		width: 400px;
		border-radius: 50%;
		margin-bottom: auto;
	}
}

.boton {
	font-size: 20px;
}

.boton-cv {
	background: rgba(173, 12, 12, 0.7);
	padding: 10px 15px;
	border-radius: 20px;
	color: #fbfbfb;
	align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 768px) {
	.boton-cv {
		display: unset;
		flex-direction: unset;
		justify-content: unset;
	}
}

.boton-cv:hover {
	background: rgba(173, 12, 12, 0.5);
	transition: background-color 0.3s;
}

.descripcion {
	margin-bottom: 30px;
}

#Contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#Contacto div {
    margin: 20px;
    width: 75vw;
}

@media (min-width: 768px) {
	#Contacto div {
		width: 50vw;
	}
}

.hablemos {
    background-color: rgba(173, 12, 12, 0.3);
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales a img {
    width: 90px;
    margin: 10px 6%;
    padding: 10px;
    border-radius: 5px;
	cursor: pointer;
}

.redes-sociales a img:hover {
    background-color: rgba(173, 12, 12, 0.3);
    transition: background-color 0.3s;
}

footer {
    background-color: rgba(173, 12, 12, 0.7);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #fbfbfb;
    font-size: medium;
}